@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #F9F9FF;
    --foreground: #212529;
}

body {
	/* color: rgb(var(--foreground-rgb)); */
	/* background: radial-gradient(257.3% 141.42% at 0% 0%, #F9F3F1 0%, #F7EEDE 100%), rgb(var(--background-start-rgb)); */
	@apply bg-gradient-repeating text-[--foreground];
}

.gradient-border {
	border-bottom: 5px solid transparent; /* Create space for gradient border */
}

.gradient-border::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px; /* Height of the gradient border */
	background: linear-gradient(110.41deg, #4A89DB -2.4%, #39C77B 105.71%); /* Gradient colors */
	z-index: 1; /* Ensure it appears above the background but below content */
}

img {
	width: auto;
	height: auto;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.pause {
		animation-play-state: paused;
	}
}

@layer components {
	.btn-outline {
		@apply w-full sm:w-auto flex flex-row items-center gap-2  px-6 py-2 rounded-10
    tracking-wide text-center text-button font-bold
    text-primary 
    bg-primary bg-opacity-10 hover:bg-opacity-20 
    border-2 border-solid border-primary 
    hover:shadow-accent hover:shadow-sm shadow-none
    cursor-default;
	}

	.btn-text {
		@apply w-full sm:w-auto flex flex-row items-center gap-2 px-6 py-2
    tracking-wide text-center text-button font-bold
    text-primary
    cursor-default;
	}

	.btn-primary {
		@apply w-full sm:w-auto flex flex-row items-center gap-2 px-8 py-3 rounded-15
    tracking-wide text-light
    border-white border-4 border-opacity-10
    bg-primary hover:bg-opacity-80 bg-opacity-100
    hover:shadow-accent hover:shadow-sm shadow-none
    cursor-default;
	}

	.slide {
		@apply animate-[slide_30s_infinite_linear]
	}

	h1, .h1{
		@apply font-bold text-5xl sm:text-6xl ;
    }
    
    h2, .h2 {
		@apply font-bold text-[32px] sm:text-[36px] md:text-[40px] lg:text-[48px];
    }
	
	h3, .h3 {
		@apply font-semibold text-3xl sm:text-4xl md:text-5xl;
	}
	
	h4, .h4 {
		@apply font-bold text-lg sm:text-xl md:text-2xl;
	}

	p, .p {
		@apply text-sm sm:text-base
	}
}
